* {margin:0; padding:0; border:0; box-sizing: border-box;}

body {
  display: grid;
  width: 100vw;
  height: 100vh;
  place-items: center;
  perspective: 1000px;
}

main {
  width: 300px;
  height: 300px;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotate3d(1,1,0,45deg);
}

.cube {
  width: 100px;
  height: 100px;
  transform-origin: center;
  transform-style: preserve-3d;
  position: absolute;
  transition: transform 200ms ease-in-out;
}

.topsection {
  width: 100px;
  height: 100px;
  position: relative;
  transform-origin: center;
  transform-style: preserve-3d;
  position: absolute;
}

/*--Top layer--*/
.cube1 {
  transform: translateX(0) translateZ(100px);
}
.cube2 {
  transform: translateX(100px) translateZ(100px);
}
.cube3 {
  transform: translateX(200px) translateY(0) translateZ(100px);
}
.cube4 {
  transform: translateX(0) translateY(100px) translateZ(100px);
}
.cube5 {
  transform: translateX(100px) translateY(100px) translateZ(100px);
}
.cube6 {
  transform: translateX(200px) translateY(100px) translateZ(100px);
}
.cube7 {
  transform: translateX(0) translateY(200px) translateZ(100px);
}
.cube8 {
  transform: translateX(100px) translateY(200px) translateZ(100px);
}
.cube9 {
  transform: translateX(200px) translateY(200px) translateZ(100px);
}
/*--Middle layer--*/
.cube10 {
  transform: translateX(0);
}
.cube11 {
  transform: translateX(100px);
}
.cube12 {
  transform: translateX(200px) translateY(0);
}
.cube13 {
  transform: translateX(0) translateY(100px);
}
.cube14 {
  transform: translateX(100px) translateY(100px);
}
.cube15 {
  transform: translateX(200px) translateY(100px);
}
.cube16 {
  transform: translateX(0) translateY(200px);
}
.cube17 {
  transform: translateX(100px) translateY(200px);
}
.cube18 {
  transform: translateX(200px) translateY(200px);
}
/*--Bottom layer--*/
.cube19 {
  transform: translateX(0) translateZ(-100px);
}
.cube20 {
  transform: translateX(100px) translateZ(-100px);
}
.cube21 {
  transform: translateX(200px) translateY(0) translateZ(-100px);
}
.cube22 {
  transform: translateX(0) translateY(100px) translateZ(-100px);
}
.cube23 {
  transform: translateX(100px) translateY(100px) translateZ(-100px);
}
.cube24 {
  transform: translateX(200px) translateY(100px) translateZ(-100px);
}
.cube25 {
  transform: translateX(0) translateY(200px) translateZ(-100px);
}
.cube26 {
  transform: translateX(100px) translateY(200px) translateZ(-100px);
}
.cube27 {
  transform: translateX(200px) translateY(200px) translateZ(-100px);
}

.face {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid black;
  text-align: center;
  font-size: 2rem;
}

.front {
  background-color: rgb(0, 110, 255);
  transform: translateZ(50px); 
}

.back { 
  background-color: rgb(0, 165, 0);
  transform: rotateY(180deg) translateZ(50px); 
}

.right { 
  background-color: white;
  transform: rotateY(90deg) translateZ(50px); 
}

.left { 
  background-color: rgb(218, 203, 0);
  transform: rotateY(-90deg) translateZ(50px); 
}

.top { 
  background-color: orange;
  transform: rotateX(90deg) translateZ(50px); 
}

.bottom { 
  background-color: rgb(202, 20, 20);
  transform: rotateX(-90deg) translateZ(50px); 
}

